.feature_container {
  padding-bottom:20px;
  min-height:400px;
  max-height:400px;
  overflow: hidden;
  background-size:cover;
  background-position: center;
}

.post-content {
  .centered-image {
    max-width:300px;
    margin:auto;
  }
}

.center {
  text-align:center;
}
